<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^LiftJS
    RewriteCond %{REQUEST_URI} !^js
    RewriteCond %{REQUEST_URI} !^css
    RewriteCond %{REQUEST_URI} !^img
    RewriteCond %{REQUEST_URI} !^fonts
    RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>
