<nav>
    <div class="nav-wrapper primary">
        <a href="/" class="brand-logo"></a>
        <ul id="nav-mobile-left" class="left">
            <li>
                <a href='javascript:;' data-go="home">
                    <i class="material-icons left">home</i>
                    <span class="button-label hide-on-med-and-down"></span>
                </a>
            </li>
        </ul>
        <ul id="nav-mobile-right" class="right">
            <li>
                <a class='dropdown-button' href="javascript:;"
                   data-activates='rightMenu'
                   data-alignment="right"
                   data-constrainWidth="false"
                   data-belowOrigin="true"
                   >
                    <span class="button-label hide-on-med-and-down">Right Menu</span>
                    <i class="material-icons" id='rightMenuInfo'>menu</i>
                </a>

                <ul id='rightMenu' class='dropdown-content'>
                    <li>
                        <a href="javascript:;" data-go="settings">
                            <i class="material-icons">settings</i>
                            Settings
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
